av==12.3.0
certifi==2024.8.30
charset-normalizer==3.4.0
coloredlogs==15.0.1
ctranslate2==4.3.1
faster-whisper==1.0.3
ffmpeg-python==0.2.0
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.10.0
future==1.0.0
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
Jinja2==3.1.4
llvmlite==0.43.0
MarkupSafe==3.0.2
more-itertools==10.5.0
mpi4py @ file:///Users/ec2-user/ci_py311/mpi4py_1678417878874/work
mpmath==1.3.0
networkx==3.4.2
numba==0.60.0
numpy==1.23.5
onnxruntime==1.20.0
openai-whisper==20240930
packaging==24.2
protobuf==5.28.3
pydub==0.25.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
sympy==1.13.3
tiktoken==0.8.0
tokenizers==0.20.3
torch==2.2.2
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.3
